<section class="mj-footer" id="kontakt">
  <div class="mj-footer-card">
    <h1 class="mj-footer-card-title">Zapratite nas</h1>
    <div class="mj-social-btn-holder">
      <a>
        <span class="fa fa-facebook"></span>
      </a>
      <a href="https://www.instagram.com/majorelle_furniture/" target="_blank">
        <span class="fa fa-instagram"></span>
      </a>
    </div>
  </div>
  <div class="mj-footer-card">
    <h1 class="mj-footer-card-title">Lokacija</h1>
    <ul class="mj-footer-card-list">
      <li class="mj-footer-card-list-item">
        Kraljevića Marka 4
      </li>
      <li class="mj-footer-card-list-item">
        34000 Kragujevac
      </li>
    </ul>
  </div>
  <div class="mj-footer-card">
    <h1 class="mj-footer-card-title">Kontakt</h1>
    <ul class="mj-footer-card-list">
      <li class="mj-footer-card-list-item">
        066/284-428
      </li>
      <li class="mj-footer-card-list-item">
        office@majorelle.com
      </li>
      <li class="mj-footer-card-list-item">
        projektovanje@majorelle.com
      </li>
    </ul>
  </div>
</section>
<section class="mj-copyright-section">
  <div class="mj-section-holder">
    <div class="mj-copyright">
      © Copyright of Majorelle & Co 2019 Design & Development by<a href="https://www.linkedin.com/in/marko-krstic-64271678/" target="_blank">GonzoWeb</a>
    </div>
    <div class="mj-logo"></div>
  </div>
  <div class="mj-arrow-up" [@scrollAnimation]="state">
    <mat-icon mat-button
              [ngx-scroll-to]="'main_cont'">
      keyboard_arrow_up
    </mat-icon>
  </div>
</section>
