<header>
  <div class="mj-img-holder">
    <img  [src]="data.backgroungImgUrl" class="mj-header-background" alt="">
    <!--<div class="mj-background-overlay-dialog">-->
      <!--<h1 class="mj-dialog-title">{{data.title}}</h1>-->
      <!--<h3 class="mj-dialog-subtitle">{{data.subTitle}}</h3>-->
      <!--<p class="mj-dialog-text">{{data.content}}-->
      <!--</p>-->
    <!--</div>-->
    <!--<div class="mj-overlay-logo"></div>-->
    <div class="mj-arrow-btn-holder">
      <mat-icon [ngx-scroll-to]="'white_cont'">keyboard_arrow_down</mat-icon>
    </div>
  </div>
</header>

