<app-header [data]="headerConfig"></app-header>

<section class="mj-section">
  <div class="mj-section-holder"
       id="white_cont">
    <div class="container">
      <div
        class="mj-section-div">
        <h3 class="mj-section-title">Projektovanje</h3>
        <p>   Ukoliko želite da promenite vaš postojeći životni prostor ili da kompletno uredite enterijer novog stana,
          kuće ili poslovnog prostora, tim arhitekata i dizajnera sa višegodišnjim iskustvom u projektovanju,
          dizajniranju i uređenju enterijera mogu Vam pomoći u tome. Na taj način se lakše organizuje proces izvođenja
          radova i skraćuje proces realizacije.</p>
        <br>
        <br>
        <p>Oni mogu osmisliti dizajn privatnih i javnih prostora na osnovu tačnih mera, fotografija prostora, budžeta,
          izbora stila i vaših želja, potreba i uputstava. Mogu Vam dati savete za najfunkcionalnije rešenje a potom Vam
          izraditi 3D model i renderovane fotografije kako biste bolje sagledali celokupni izgled nameštaja u datom
          prostoru.</p>
        <br>
        <br>
        <p>U radu koristimo najsavremenije softvere AutoCad, 3ds Max, V-ray, SketchUp i Photoshop.
          Cena zavisi od kvadrature i složenosti celokupnog projekta.
        </p>
        <br>
        <br>
        <p>Na sledećim fotografijama možete videti neke od realizovanih projekata.</p>
      </div>
    </div>
  </div>
</section>
