<app-header [data]="headerConfig"></app-header>

<section class="mj-section">
  <div class="mj-section-holder"
       id="white_cont">
    <div class="container">

      <h3 class="mj-section-title">Frizerski salon New Visual – Kragujevac</h3>
      <app-gallery [data]="gallery1Config"></app-gallery>
    </div>
  </div>
</section>
<div class="mj-separator"></div>

<section class="mj-section">
  <div class="mj-section-holder">
    <div class="container">

      <h3 class="mj-section-title">Kozmetički salon Cacao Beauty Center – Kragujevac</h3>
      <app-gallery [data]="gallery2Config"></app-gallery>
    </div>
  </div>
</section>
